 /* p{
    color:blue;
 } */

    /* #assitleaders {
        font-size:larger
 }  */

 /* .important{
    background-color: blue;
 }
 .silly{
    color:red
 } */

/* h2.important{
    font-size: 32px;
} */

.green-text,
.green-text * {
   color : green;
}
.yellow-text,
.yellow-text * {
   color : rgb(214, 214, 30)
}
.red-text,
.red-text * {
   color:red
}


a:hover {
    padding: 5px;
}
.red-text:hover {
   background-color:pink;
   color:red;
    padding: 5px;
    transition: 2s;
}
.yellow-text:hover {
   background-color:lightgoldenrodyellow;
   color:rgb(214, 214, 30);
    padding: 5px;
    transition: 0.5s;
}
.green-text:hover {
   background-color:lightgreen;
   color:green;
    padding: 5px;
    transition: 1s;
}
video {
   border: 5px burlywood;
   width: 750px;
   height: auto;
}
.basketball:hover{
   height:  15ms;
   animation: spin 3s infinite linear;
   transition: ease-in 0.5;
}

@keyframes spin{
   from {
       transform: rotate(0);
   }
   to {
       transform: rotate(360deg);
   }
}