 /* p{
    color:blue;
 } */

    /* #assitleaders {
        font-size:larger
 }  */

 /* .important{
    background-color: blue;
 }
 .silly{
    color:red
 } */

/* h2.important{
    font-size: 32px;
} */

.colored,
.colored * {
   color : green;
}
.polored,
.polored * {
   color : rgb(214, 214, 30)
}
.rolored,
.rolored * {
   color:red
}


a:hover {
   background-color:red;
    padding: 5px;
}