 /* p{
    color:blue;
 } */

    /* #assitleaders {
        font-size:larger
 }  */

 /* .important{
    background-color: blue;
 }
 .silly{
    color:red
 } */

/* h2.important{
    font-size: 32px;
} */

.colored,
.colored * {
   color : green;
}
.polored,
.polored * {
   color : rgb(214, 214, 30)
}
.rolored,
.rolored * {
   color:red
}


a:hover {
   background-color:burlywood;
    padding: 5px;
}
a:hover3 {
   background-color:blue;
    padding: 5px;
    transition: 2s;
}
a:hover2 {
   background-color:blue;
    padding: 5px;
    transition: 0.5s;
}
a:hover1 {
   background-color:blue;
    padding: 5px;
    transition: 1s;
}
video {
   border: 5px burlywood;
   width: 750px;
   height: auto;
}